@model Bikeshop.Models.Bike

@{
    ViewData["Title"] = "Index";
}

<h1>Bikes</h1>
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price) €
            </dd>
            <dd class="col-sm-2">
                @Html.ActionLink("go to detail", "Detail", "Bike", new { id = Model.Id }, new { @class = "btn btn-primary" })
            </dd>
            <dt>
                <img class="img" alt="Bike1" src="~/@Model.Pic">
            </dt>
        </dl>
    </div>
